<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traffic Congestion Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">  <div id="index-container">
            <h1>Welcome to the Traffic Congestion Prediction App</h1>
            <a href="/predictdata">Predict Congestion</a>
        </div>
    </div> </body>
</html>